
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582499153259528817.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582499153259528817.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582499153259528817.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582499153259528817.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582499153259528817.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582499153259528817.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582499153259528817.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582499153259528817.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-582499153259528817.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582499153259528817.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582499153259528817.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582499153259528817.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582499153259528817.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582499153259528817.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-582499153259528817.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582499153259528817.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-582499153259528817.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-582499153259528817.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582499153259528817.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582499153259528817.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-582499153259528817.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-582499153259528817.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582499153259528817.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-582499153259528817.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-582499153259528817.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-582499153259528817.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-582499153259528817.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582499153259528817.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582499153259528817.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-582499153259528817.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-582499153259528817.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582499153259528817.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-582499153259528817.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-582499153259528817.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582499153259528817.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-582499153259528817.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-582499153259528817.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582499153259528817.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582499153259528817.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582499153259528817.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582499153259528817.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582499153259528817.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582499153259528817.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582499153259528817.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582499153259528817.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582499153259528817.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582499153259528817.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582499153259528817.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582499153259528817.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582499153259528817.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582499153259528817.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582499153259528817.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582499153259528817.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582499153259528817.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-582499153259528817.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-582499153259528817.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582499153259528817.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582499153259528817.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582499153259528817.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582499153259528817.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582499153259528817.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582499153259528817.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582499153259528817.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582499153259528817.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582499153259528817.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-582499153259528817.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582499153259528817.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-582499153259528817.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-582499153259528817.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582499153259528817.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582499153259528817.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582499153259528817.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-582499153259528817.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582499153259528817.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582499153259528817.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582499153259528817.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-582499153259528817.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582499153259528817.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582499153259528817.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-582499153259528817.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582499153259528817.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582499153259528817.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-582499153259528817.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-582499153259528817.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-582499153259528817.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-582499153259528817.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-582499153259528817.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-582499153259528817.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-582499153259528817.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582499153259528817.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582499153259528817.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582499153259528817.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582499153259528817.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582499153259528817.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-582499153259528817.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582499153259528817.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582499153259528817.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582499153259528817.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582499153259528817.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-582499153259528817.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-582499153259528817.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582499153259528817.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582499153259528817 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-582499153259528817 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-582499153259528817 .gp-invisible{visibility:hidden}.gps-582499153259528817 .gp-absolute{position:absolute}.gps-582499153259528817 .gp-relative{position:relative}.gps-582499153259528817 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582499153259528817 .gp-mb-0{margin-bottom:0}.gps-582499153259528817 .\!gp-block{display:block!important}.gps-582499153259528817 .gp-inline-block{display:inline-block}.gps-582499153259528817 .gp-flex{display:flex}.gps-582499153259528817 .gp-inline-flex{display:inline-flex}.gps-582499153259528817 .gp-grid{display:grid}.gps-582499153259528817 .gp-contents{display:contents}.gps-582499153259528817 .\!gp-hidden{display:none!important}.gps-582499153259528817 .gp-hidden{display:none}.gps-582499153259528817 .gp-h-5{height:20px}.gps-582499153259528817 .gp-h-auto{height:auto}.gps-582499153259528817 .gp-h-full{height:100%}.gps-582499153259528817 .gp-w-5{width:20px}.gps-582499153259528817 .gp-w-full{width:100%}.gps-582499153259528817 .gp-w-max{width:-moz-max-content;width:max-content}.gps-582499153259528817 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-582499153259528817 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-582499153259528817 .gp-max-w-full{max-width:100%}.gps-582499153259528817 .gp-flex-1{flex:1 1 0%}.gps-582499153259528817 .gp-flex-none{flex:none}.gps-582499153259528817 .gp-cursor-default{cursor:default}.gps-582499153259528817 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582499153259528817 .gp-flex-col{flex-direction:column}.gps-582499153259528817 .gp-flex-wrap{flex-wrap:wrap}.gps-582499153259528817 .gp-items-center{align-items:center}.gps-582499153259528817 .gp-justify-center{justify-content:center}.gps-582499153259528817 .gp-overflow-hidden{overflow:hidden}.gps-582499153259528817 .gp-break-words{overflow-wrap:break-word}.gps-582499153259528817 .gp-text-center{text-align:center}.gps-582499153259528817 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-582499153259528817 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-582499153259528817 .gp-no-underline{text-decoration-line:none}.gps-582499153259528817 .gp-opacity-25{opacity:.25}.gps-582499153259528817 .gp-opacity-30{opacity:.3}.gps-582499153259528817 .gp-opacity-75{opacity:.75}.gps-582499153259528817 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582499153259528817 .gp-duration-200{transition-duration:.2s}.gps-582499153259528817 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582499153259528817 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-582499153259528817 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-582499153259528817 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-582499153259528817 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-582499153259528817 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-582499153259528817 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-582499153259528817 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-582499153259528817 .tablet\:\!gp-hidden{display:none!important}.gps-582499153259528817 .tablet\:gp-hidden{display:none}.gps-582499153259528817 .tablet\:gp-h-auto{height:auto}.gps-582499153259528817 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-582499153259528817 .mobile\:\!gp-hidden{display:none!important}.gps-582499153259528817 .mobile\:gp-hidden{display:none}.gps-582499153259528817 .mobile\:gp-h-auto{height:auto}.gps-582499153259528817 .mobile\:gp-flex-none{flex:none}}.gps-582499153259528817 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-582499153259528817 .\[\&_\*\]\:gp-max-w-none *{max-width:none}.gps-582499153259528817 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF8F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gQ1dr0Qx4U"}' data-id="gQ1dr0Qx4U" id="gQ1dr0Qx4U" data-same-height-subgrid-container class="gQ1dr0Qx4U gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF8F4;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_qQLUMouE gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if '10242885189970' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['skinacro™-kit-d-elimination-des-acrochordons-40-traitements']
              assign productId = '10242885189970' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if '10242885189970' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['skinacro™-kit-d-elimination-des-acrochordons-40-traitements']
            assign productId = '10242885189970' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "goSYM0lb8z" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="goSYM0lb8z"
        data-id="goSYM0lb8z"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"uid":"goSYM0lb8z"}' data-id="goSYM0lb8z-row" id="goSYM0lb8z" data-same-height-subgrid-container class="goSYM0lb8z gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--cg:var(--g-s-2xl);--rg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geMp0bsPWM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0NhdT-o-8"
        class="g0NhdT-o-8"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396789"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:18px;--size-mobile:13px;--c:#00B67A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0NhdT-o-8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="go9SAAcSEV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gx-rhKbW4i"}' data-id="gx-rhKbW4i" id="gx-rhKbW4i" data-same-height-subgrid-container class="gx-rhKbW4i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-l);--pl-mobile:20px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gU0cuZlbHk gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px" class="gLa6jaxWZO ">
      
    {% assign app_blocks = section.blocks | where: "type", "@app" %}
    <div
      class="gp-flex gp-w-full gp-items-center  !gp-block [&_*]:gp-max-w-none"
      style="--jc:left"
    >
      {% for block in app_blocks %}
        {% if block.type == '@app' and block.id contains 'gp_app_kaching-bundles_gLa6jaxWZO' %}
          {% render block %}
        {% endif %}
      {% endfor %}
    </div>
  
      </div>
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.gg448xjsVB7_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.gg448xjsVB7_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"buy-now","enableMessage":true,"label":"Achetez maintenant","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","outOfStockLabel":"Out of stock","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message=""
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="g448xjsVB7"].gp-button-base::before, [data-id="g448xjsVB7-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g448xjsVB7"]:hover::before, [data-id="g448xjsVB7-interaction"]:hover::before {
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
  }</style>
        
        <button
          data-id="g448xjsVB7" dataId="g448xjsVB7" data-state="idle" aria-label="Achetez maintenant"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#E4893A;--bg:#00B67A;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold"
          class="gp-button-atc tcustomizer-submit-button g448xjsVB7 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg448xjsVB7_label }}
    </span>
        </div>
        
    
  <div
    class="group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
    style="--mr:8px;--ml:8px"
  >
    
    <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.10522 9C1.10522 8.72386 1.32908 8.5 1.60522 8.5H18.1062C18.3823 8.5 18.6062 8.72386 18.6062 9V11C18.6062 11.2761 18.3823 11.5 18.1062 11.5H1.60522C1.32908 11.5 1.10522 11.2761 1.10522 11V9Z"
        fill="currentColor" />
    </svg>
  
  </div>

    
            
      <gp-product-price
        id="shopify-text-element-undefined"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gp-button-price"
        
        gp-data='{"priceType":"regular","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-undefined" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396790"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money gp-button-price  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
            
          
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="g448xjsVB7-sold-out"].gp-button-base::before, [data-id="g448xjsVB7-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g448xjsVB7-sold-out"]:hover::before, [data-id="g448xjsVB7-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g448xjsVB7-sold-out" dataId="g448xjsVB7-sold-out" data-state="idle" aria-label="{{ section.settings.gg448xjsVB7_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:18px;--pb-mobile:18px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--bg:#1E1F22;--hvr-bg:#1E1F22;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out g448xjsVB7-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg448xjsVB7_outOfStockLabel }}
    </span>
        </div>
        
    
  <div
    class="group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
    style="--mr:8px;--ml:8px"
  >
    
    <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.10522 9C1.10522 8.72386 1.32908 8.5 1.60522 8.5H18.1062C18.3823 8.5 18.6062 8.72386 18.6062 9V11C18.6062 11.2761 18.3823 11.5 18.1062 11.5H1.60522C1.32908 11.5 1.10522 11.2761 1.10522 11V9Z"
        fill="currentColor" />
    </svg>
  
  </div>

    
            
      <gp-product-price
        id="shopify-text-element-undefined"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gp-button-price"
        
        gp-data='{"priceType":"regular","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-undefined" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396792"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money gp-button-price  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
            
          
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <div gp-el-wrapper style="--mb:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="g0fLgVdmhD ">
      
    {%- liquid
      assign standardEndDate = 1757069830381
      assign typeCountdown = "evergreen"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="g0fLgVdmhD"
        gp-href
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"evergreen","dateStandard":1757055430381,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":0,"mins":20,"endTime":1756736768068,"startTime":1756450630381},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Day","enableHour":false,"hourLabel":"Hour","enableMinute":true,"minuteLabel":"Minute","enableSecond":true,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"},"uid":"g0fLgVdmhD","builderData":{"uid":"g0fLgVdmhD","tag":"Countdown","label":"Countdown Timer","settings":{"behaviour":"evergreen","dateStandard":1757055430381,"timeZone":"UTC-4","timerDaily":{"hours":10,"mins":0,"format":"am"},"timerEverygreen":{"days":0,"hours":0,"mins":20,"endTime":1756736768068,"startTime":1756450630381},"loopAfterFinish":true,"autoHideWhenTimeout":false,"enableDay":false,"dayLabel":"Day","enableHour":false,"hourLabel":"Hour","enableMinute":true,"minuteLabel":"Minute","enableSecond":true,"secondLabel":"Second","enableWeek":false,"weekLabel":"Week","translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","redirectUrl":{"type":"stay-on-page","link":"","target":"_self"}},"styles":{"enableLabelTextStyle":true,"numTypo":{"type":"subheading-2","attrs":{"color":"text-2","bold":true}},"colorNumber":"text-2","labelTypo":{"type":"paragraph-2","attrs":{"color":"text-1"}},"colorLabel":"text-2","textAlign":{"desktop":"center"},"padding":{"desktop":{"padding":{"type":"custom","top":"12px","left":"24px","bottom":"12px","right":"24px"}}},"backgroundItemColor":"#ABD1D3","verticalGap":"8px","horizontalGap":"8px","itemPadding":{"desktop":{"top":"8px","bottom":"8px","left":"24px","right":"24px"}},"borderState":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedState":{"normal":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"rounded"}}},"advanced":{"spacing-setting":{"desktop":{"margin":{"bottom":"16px"}}},"d":{"desktop":true,"tablet":true,"mobile":true},"border":{"desktop":{"normal":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","color":"line-3","isCustom":true}}},"rounded":{"desktop":{"normal":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}}},"hasBoxShadow":{"desktop":{"normal":false}},"boxShadow":{"desktop":{"normal":{}}},"op":{"desktop":"100%"}},"childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
          
          
          
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#ABD1D3" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0fLgVdmhD-text" id="minute"
        class="g0fLgVdmhD"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396795"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0fLgVdmhD-text"
        class="g0fLgVdmhD"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396795"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0fLgVdmhD_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bs:none;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--focus-bblr:8px;--focus-bbrr:8px;--focus-btlr:8px;--focus-btrr:8px;-undefined-bblr:8px;-undefined-bbrr:8px;-undefined-btlr:8px;-undefined-btrr:8px;--bg:#ABD1D3" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0fLgVdmhD-text" id="second"
        class="g0fLgVdmhD"
        style="--mb:8px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396795"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-subheading-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0fLgVdmhD-text"
        class="g0fLgVdmhD"
        style="--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756811396795"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-2 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:var(--g-c-text-1, text-1);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0fLgVdmhD_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <div
      role="presentation"
      data-id="gELh01lo-1"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1756811396795 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gELh01lo-1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_582415482548650648-87bca3dd-8b2f-43d4-9190-85bebc52676c.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU3LTIxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgZmlsbD0idXJsKCNnLTg1Ny0yMTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTciIHRvPSI4NTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_582415482548650648-87bca3dd-8b2f-43d4-9190-85bebc52676c.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU3LTIxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgZmlsbD0idXJsKCNnLTg1Ny0yMTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTciIHRvPSI4NTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_582415482548650648-87bca3dd-8b2f-43d4-9190-85bebc52676c.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODU3LTIxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODU3IiBoZWlnaHQ9IjIxMiIgZmlsbD0idXJsKCNnLTg1Ny0yMTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04NTciIHRvPSI4NTciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_582415482548650648-87bca3dd-8b2f-43d4-9190-85bebc52676c.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"uid":"gNxWexe2I7"}' data-id="gNxWexe2I7" id="gNxWexe2I7" data-same-height-subgrid-container class="gNxWexe2I7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gg0viVDZJW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaUiAtTfY5"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1756811396796 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaUiAtTfY5"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_582415482548650648-758b78a1-9f13-400f-ba6e-6fba870dae30.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_582415482548650648-758b78a1-9f13-400f-ba6e-6fba870dae30.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_582415482548650648-758b78a1-9f13-400f-ba6e-6fba870dae30.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_582415482548650648-758b78a1-9f13-400f-ba6e-6fba870dae30.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="glSyXI7UpW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gR4SXFgicL"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1756811396797 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gR4SXFgicL"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_582415482548650648-2cab6e06-ed8b-420f-a263-ef187a0c2177.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_582415482548650648-9e2fa254-1366-483c-afe7-7f5f60824adf.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzEzLTcxMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgZmlsbD0idXJsKCNnLTcxMy03MTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MTMiIHRvPSI3MTMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_582415482548650648-9e2fa254-1366-483c-afe7-7f5f60824adf.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzEzLTcxMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgZmlsbD0idXJsKCNnLTcxMy03MTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MTMiIHRvPSI3MTMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_582415482548650648-9e2fa254-1366-483c-afe7-7f5f60824adf.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gN53lfBAHy gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="girOQ7ELNq"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1756811396797 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto girOQ7ELNq"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_582415482548650648-9e2fa254-1366-483c-afe7-7f5f60824adf.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzEzLTcxMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzEzIiBoZWlnaHQ9IjcxMyIgZmlsbD0idXJsKCNnLTcxMy03MTMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MTMiIHRvPSI3MTMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_582415482548650648-2cab6e06-ed8b-420f-a263-ef187a0c2177.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_582415482548650648-2cab6e06-ed8b-420f-a263-ef187a0c2177.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_582415482548650648-2cab6e06-ed8b-420f-a263-ef187a0c2177.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-582499153259528817 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ggtdys-w8/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582426661694211033&sectionId=582499153259528817)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0NhdT-o-8_text","label":"gg0NhdT-o-8_text","default":"<p><strong>1 client sur 2 offre un SkinAcro en cadeau à un proche</strong></p>"},{"type":"html","id":"gg448xjsVB7_label","label":"gg448xjsVB7_label","default":"Achetez maintenant"},{"type":"html","id":"gg448xjsVB7_outOfStockLabel","label":"gg448xjsVB7_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"gg448xjsVB7_unavailableLabel","label":"gg448xjsVB7_unavailableLabel","default":"Unavailable"},{"type":"html","id":"gg0fLgVdmhD_dayLabel","label":"gg0fLgVdmhD_dayLabel","default":"Day"},{"type":"html","id":"gg0fLgVdmhD_hourLabel","label":"gg0fLgVdmhD_hourLabel","default":"Hour"},{"type":"html","id":"gg0fLgVdmhD_minuteLabel","label":"gg0fLgVdmhD_minuteLabel","default":"Minute"},{"type":"html","id":"gg0fLgVdmhD_secondLabel","label":"gg0fLgVdmhD_secondLabel","default":"Second"},{"type":"html","id":"gg0fLgVdmhD_weekLabel","label":"gg0fLgVdmhD_weekLabel","default":"Week"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  