
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582505922782298968.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582505922782298968.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-582505922782298968.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582505922782298968.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582505922782298968.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582505922782298968.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-582505922782298968.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582505922782298968.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582505922782298968.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582505922782298968.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582505922782298968.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-582505922782298968.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582505922782298968.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-582505922782298968.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582505922782298968.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582505922782298968.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-582505922782298968.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582505922782298968.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-582505922782298968.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582505922782298968.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582505922782298968.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-582505922782298968.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582505922782298968.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-582505922782298968.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582505922782298968.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-582505922782298968.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582505922782298968.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582505922782298968.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582505922782298968.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582505922782298968.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582505922782298968.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582505922782298968.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582505922782298968.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582505922782298968.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582505922782298968.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582505922782298968.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582505922782298968.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582505922782298968.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582505922782298968.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582505922782298968.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582505922782298968.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582505922782298968.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582505922782298968.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582505922782298968.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582505922782298968.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582505922782298968.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582505922782298968.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582505922782298968.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582505922782298968.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582505922782298968.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582505922782298968.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582505922782298968.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-582505922782298968.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582505922782298968.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582505922782298968.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582505922782298968.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582505922782298968.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582505922782298968.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582505922782298968.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582505922782298968.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582505922782298968.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582505922782298968.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582505922782298968.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582505922782298968.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582505922782298968.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-582505922782298968.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582505922782298968.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582505922782298968.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582505922782298968.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582505922782298968.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582505922782298968.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582505922782298968.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582505922782298968.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582505922782298968.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582505922782298968.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-582505922782298968.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582505922782298968.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582505922782298968 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-582505922782298968 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-582505922782298968 .gp-fixed{position:fixed}.gps-582505922782298968 .gp-relative{position:relative}.gps-582505922782298968 .gp-top-\[27px\]{top:27px}.gps-582505922782298968 .gp-z-\[100\]{z-index:100}.gps-582505922782298968 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582505922782298968 .gp-mb-0{margin-bottom:0}.gps-582505922782298968 .gp-flex{display:flex}.gps-582505922782298968 .gp-inline-flex{display:inline-flex}.gps-582505922782298968 .gp-grid{display:grid}.gps-582505922782298968 .\!gp-hidden{display:none!important}.gps-582505922782298968 .gp-hidden{display:none}.gps-582505922782298968 .gp-h-full{height:100%}.gps-582505922782298968 .gp-max-w-full{max-width:100%}.gps-582505922782298968 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582505922782298968 .gp-flex-col{flex-direction:column}.gps-582505922782298968 .gp-items-center{align-items:center}.gps-582505922782298968 .gp-justify-center{justify-content:center}.gps-582505922782298968 .gp-overflow-hidden{overflow:hidden}.gps-582505922782298968 .gp-break-words{overflow-wrap:break-word}.gps-582505922782298968 .gp-rounded{border-radius:4px}.gps-582505922782298968 .\!gp-bg-white{--tw-bg-opacity:1!important;background-color:rgb(255 255 255/var(--tw-bg-opacity))!important}.gps-582505922782298968 .\!gp-bg-none{background-image:none!important}.gps-582505922782298968 .gp-p-\[16px\]{padding:16px}.gps-582505922782298968 .gp-text-\[14px\]{font-size:14px}.gps-582505922782298968 .gp-leading-normal{line-height:1.5}.gps-582505922782298968 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-582505922782298968 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-582505922782298968 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-582505922782298968 .gp-no-underline{text-decoration-line:none}.gps-582505922782298968 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-582505922782298968 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582505922782298968 .gp-duration-200{transition-duration:.2s}.gps-582505922782298968 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582505922782298968 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-582505922782298968 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-582505922782298968 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-582505922782298968 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-582505922782298968 .tablet\:\!gp-hidden{display:none!important}.gps-582505922782298968 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582505922782298968 .mobile\:\!gp-hidden{display:none!important}.gps-582505922782298968 .mobile\:gp-hidden{display:none}}.gps-582505922782298968 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-582505922782298968 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gljt5yAH9m"}' data-id="gljt5yAH9m" id="gljt5yAH9m" data-same-height-subgrid-container class="gljt5yAH9m gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--pt-mobile:32px;--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJzYxTG3Xu gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdi7pTIQX9"}' data-id="gdi7pTIQX9" id="gdi7pTIQX9" data-same-height-subgrid-container class="gdi7pTIQX9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:200px;--pr:200px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:100px;--pr-tablet:100px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRnTDXXtUM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQsd1-CHVU"}' data-id="gQsd1-CHVU" id="gQsd1-CHVU" data-same-height-subgrid-container class="gQsd1-CHVU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gC2GRz1mJT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1ZkMMTLig"
        class="g1ZkMMTLig"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756809741395"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:31px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1ZkMMTLig_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqj5UdYzvd"
        class="gqj5UdYzvd"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756809741396"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqj5UdYzvd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl-tablet:0px;--pr-tablet:0px;--bc:transparent;--bw:0px;--bs:none;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <gp-form
        data-id="guGTJNeac3" id="guGTJNeac3"
        data-callback='{"link":"","target":"_self"}'
      >
        <a
          hidden="true" id="gp-form-callback-guGTJNeac3"
        >
        </a>
        {% form 'contact', class: 'gp-form-guGTJNeac3 ', id: 'contact_form_guGTJNeac3' %}
          {% if form.errors %}
            <div
              id="gp-form-error-guGTJNeac3"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              Impossible d’envoyer l’email. Veuillez réessayer plus tard.
            </div>
          {% endif %}
          <div popover id="my-popover-guGTJNeac3">
            <style>
              
    #my-popover-guGTJNeac3::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-guGTJNeac3"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              Merci de nous avoir contactés. Nous vous répondrons dans les plus brefs délais.
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNTpjfp5Hp"}' data-id="gNTpjfp5Hp" id="gNTpjfp5Hp" data-same-height-subgrid-container class="gNTpjfp5Hp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--cg:30px;--cg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPoujEymWi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-FrCKwHF5"
        class="g-FrCKwHF5"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756809741401"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-1 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-FrCKwHF5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      
      data-id="gwx348GBeA"
      class="gwx348GBeA"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="text"
        class="gwx348GBeA gp-g-paragraph-2 gp-text-g-text-1 gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--c:var(--g-c-text-1, text-1);--tt:default;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggwx348GBeA_placeholder }}"
        
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gZJ1bhcJ5D gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFgZgVugNw"
        class="gFgZgVugNw"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756809741403"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-1 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFgZgVugNw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      
      data-id="g8hpZ50VkN"
      class="g8hpZ50VkN flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-2 !gp-outline-none !gp-bg-none email-form-g8hpZ50VkN"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.gg8hpZ50VkN_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOnoaKya1M"
        class="gOnoaKya1M"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756809741404"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-1 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOnoaKya1M_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      
      data-id="g5nQgZb4uZ"
      class="g5nQgZb4uZ"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--ta:left"
    >
      <input
        type="text"
        class="g5nQgZb4uZ gp-g-paragraph-2 gp-text-g-text-1 gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--c:var(--g-c-text-1, text-1);--tt:default;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.gg5nQgZb4uZ_placeholder }}"
        
        name="contact[note]"
        value=""
      ></input>
    </div>
  
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gyDitRJkzI"].gp-button-base::before, [data-id="gyDitRJkzI-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gyDitRJkzI"]:hover::before, [data-id="gyDitRJkzI-interaction"]:hover::before {
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
    
  }</style>
        
        <button
          data-id="gyDitRJkzI" dataId="gyDitRJkzI" data-state="idle" aria-label="Soumettre ma question"
          
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:46px;--pr:46px;--pt:12px;--pb:12px;--pl-tablet:46px;--pr-tablet:46px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:46px;--pr-mobile:46px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#424242;--bg:#5594E7;--c:var(--g-c-text-3, text-3);--weight:bold"
          class="gyDitRJkzI gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggyDitRJkzI_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-582505922782298968 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ggtdys-w8/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582426661694211033&sectionId=582505922782298968)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1ZkMMTLig_text","label":"gg1ZkMMTLig_text","default":"Une question ?"},{"type":"html","id":"ggqj5UdYzvd_text","label":"ggqj5UdYzvd_text","default":"<p>Ecrivez nous via le formulaire ci-dessous et nous vous répondrons dans les plus brefs délais.</p>"},{"type":"html","id":"gg-FrCKwHF5_text","label":"gg-FrCKwHF5_text","default":"<p>NAME</p>"},{"type":"html","id":"ggwx348GBeA_placeholder","label":"ggwx348GBeA_placeholder","default":"Nom"},{"type":"html","id":"ggFgZgVugNw_text","label":"ggFgZgVugNw_text","default":"<p>EMAIL</p>"},{"type":"html","id":"gg8hpZ50VkN_placeholder","label":"gg8hpZ50VkN_placeholder","default":"adresse mail"},{"type":"html","id":"ggOnoaKya1M_text","label":"ggOnoaKya1M_text","default":"<p>MESSAGE</p>"},{"type":"html","id":"gg5nQgZb4uZ_placeholder","label":"gg5nQgZb4uZ_placeholder","default":"message"},{"type":"html","id":"ggyDitRJkzI_label","label":"ggyDitRJkzI_label","default":"Soumettre ma question"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  